################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Delphi/Android/Debug
/src/Delphi/Win32/Debug
/src/RaspberryPi/node_modules
/src/Delphi/Win64/Debug
